/* ==================================================
	Video Archive
================================================== */
.playlistWrap { background: #f6f6f6; padding: 1em; font-size:1em; }
.playlistWrap .title { display: none; padding: .75em; border: 1px solid #ccc; border-bottom: none; background: rgba(154, 217, 224, 0.2); }
	.js .playlistWrap .title { display: block; }
	.playlistWrap .title span { font-style: italic; }
.playlist { border: 2px solid #ccc; }
.playlist td { padding: 0; background: #fff; }
.playlist a { display: block; background: #fff; padding: .65em 1em; color: #333!important; }

.playlist .time { text-align: right; }

.filterWrap label, .filterWrap input { margin-bottom: 0; }
.filterWrap span { float: left; }

.player iframe {width: 100%; height: auto; background: #ccc; }

/* if JS is on, enhance */
.js .player { display: block; }
.js .playlist a { padding-left: 4em; background: url("/i/play_sprite.png") 13px -158px no-repeat; }
.js .playlist a:hover, .js .playlist a:focus { background: #e6e6e6 url("/i/play_sprite.png") 13px 13px no-repeat; }

.dataTable { width:100%; }

/* if JS is on, enhance */
.js .player { display: block; }
.js .playlist a { padding-left: 4em; background: url("/i/play_sprite.png") 13px -158px no-repeat; }
.js .playlist a:hover, .js .playlist a:focus { background: #e6e6e6 url("/i/play_sprite.png") 13px 13px no-repeat; }

@media (min-width: 768px) {
.player iframe { min-height:360px; }
}

@media screen and (max-width: 768px) {
	.playlist .time { text-align: left; }
	.filterWrap span { float: none; }
	.playlistWrap .dataTables_filter { text-align: left; padding-top: .65em; border-top: 1px dotted #ccc; }
}