#header #cancercontrol-banner.native {
	background:none;
}

#header #cancercontrol-banner span {
	font-size:18px;
	color:#fff;
	margin-left:1px;
}


#header-nci {
    background-color: #096598;
	max-width:100%;
	width:100%;
}

.sidebar-nav .nav-list .nav-header.cover a {
    border: 1px solid #e3e3e3;
	font-size: 0.95em;
    padding:5px 7px;
}

.sidebar-nav .nav-list .nav-header.cover a img {
    width:100%;
}


#header-search input[type="image"] {
	position: absolute;
	height: 30px;
	margin-left: -35px;
	margin-top: 12px;
}

@media (max-width: 768px) {
	
#header-nci {
	margin-left:-20px;
	padding-right:40px;
}

}

@media (min-width: 768px) {
	
#header #cancercontrol-banner.native {
	background-color:#096598;
	background-size:auto 100%;
}

	#header-search input[type="image"] {
		margin-top: 5px;
	}
}