#header #cancercontrol-banner.native {
	background:none;
}

#header #cancercontrol-banner span {
	font-size:18px;
	color:#fff;
	margin-left:1px;
}


#header-nci {
    background-color: #096598;
	max-width:100%;
	width:100%;
}

@media (max-width: 768px) {
	
#header-nci {
	margin-left:-20px;
	padding-right:40px;
}

}

@media (min-width: 768px) {
	
#header #cancercontrol-banner.native {
	background-color:#096598;
	background-size:auto 100%;
}

}