/* Main body */
body {
  	font-family:arial, verdana, helvetica, sans-serif;
	margin : 0;
	background-color : White;
}

p, td, li {
	font-family : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	font-size : 12px;
	font-weight : normal;
	color: #000;
}

h2 {
	font-family: Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

h3 {
	font-family: Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.main {
	background-image : url(images/2.gif);
	 /* height: 415px; */
}

/* links */
A, A:visited, A:hover  {
	color : #013364;
	font-size : 12px;
	font-family : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}

A.white, A.white:visited, A.white:active, A.white:hover{
	color: #fff;
	font-size: 12px;
	font-family : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}

A.plone, A.plone:visited, A.plone:hover  {
	color : #8bd2fa;
	font-size : 12px;
	font-family : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}

/* left nav background colors */
td.blue {
	background-image : url(images/3.gif);
	height: 41px;
}

.ltblue {
	background-image : url(images/4.gif);
}

td.top {
	background-image : url(images/top-grey-chit.jpg);
	height: 23px;
}

td.bottom {
	background-image : url(images/5.gif);
	/* height: 75px; */
}

/* other styles */
.username {
	font-weight: bold;
	font-family: Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	color: #013364;
	font-size: 14px;
}

UL.tight {
	margin-top : -.1em;
	margin-bottom: -.1em;
}

.small {
	font-family : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	color : #000;
	font-size : 11px;
}

.white-text {
	color:#fff;
	font-family : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	font-size : 12px;
}

.hr {
	color: #000;
}

/* keep superscript and subscript in-line with the rest of the text */
sup, sub { height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative; }
sup { bottom: 1ex; }
sub { top: .5ex; }

/* New Footer */
#footer { width: 100%; padding: .25em; background-color: #102873; color: #ffffff;}
.left {float: left; width: 21%; height: 40px; }
.right { float: left; width: 77%; padding: .5em 0;}
#footer ul, #footer li { /*display: inline;*/ list-style-type:none; margin: 0; padding: 0 2px; color: #ffffff; }
#footer p { color: #ffffff; padding: 0; margin: 0; margin-top: 1.25em;}
#footer a { text-decoration: none; color: #ffffff; }
#footer a:hover span { text-decoration:none; /*background-color: #5AB6BD; navy*/ background-color: #cccc99; color: #000; }
#footer a span { padding:1px 3px;}