.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #0072a2;
    background-image: linear-gradient(to bottom, #333, #0072a2);
    color: #ffffff;
}

.navbar .nav > li > a {
	padding: 12px 52px;	
}

.breadcrumb { clear:both; }

.program-areas-header {
	color: #424242;
}

#content .listimage ul li {
	list-style-image: url("/brp/images/featured-icon.png");
	color: #424242;
}

#content .listimage ul li a {
	/*color: #424242;*/ /* CD: Not sure if we should have this */
}

.margin-bottom-list {
	margin-bottom: 20px;
}

#content h2 {
	padding-left: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

#sidebar .comments, #sidebar .additional-text {
	padding:1em;
}

.constantContact .fsBody {
    color: #333;
    font: 1em/1.4 "Open Sans",Helvetica,Arial,sans-serif;
    margin: 0;
}
.constantContact .fsRow.fsFieldRow.fsLastRow {
    margin: 0;
}
.subscribeWrap {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e6eeee;
    float: right;
    margin: 0 0 0 2em;
    padding: 0.5em;
    width: 50%;
}
.constantContact {
    padding: 1em;
}
.constantContact .fsBody .fsForm {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0;
}
.constantContact .fsBody .fsRowBody {
    padding: 0;
}
.constantContact .fsFieldFocused {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
}
.fsPage .fsLabel {
    display: none !important;
}
.constantContact label {
    background: url("/brp/images/icn-signup.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #333;
    font-weight: bold;
    letter-spacing: 0.04em;
    padding-left: 1.5em;
    text-transform: uppercase;
}
.constantContact div.fsError {
    border-radius: 3px;
    color: #333;
    font-size: 0.9em;
    margin: 0.5em 0;
    padding: 0.5em;
}
.constantContact .fsValidationError {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.profileBox {
	float: left;
	padding: 15px;
	border: 1px solid #CCCCCC;
	width: 12%;
	margin-right: 10px;
}
.newsHighlights {
	border: 1px solid #CCCCCC;	
}

#content .newsHighlights h2, #sidebar .newsHighlights h2 {
    background: #0072a2 none repeat scroll 0 0;
    border-bottom: 1px solid #cccccc;
    color: #ffffff;
    font-size: 19px;
    line-height: 1.5;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}

#content .newsHighlights div, #sidebar .newsHighlights div {
	color: #FFFFFF;
	background: #0072a2;
	padding: 10px;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #CCCCCC;	
	line-height: 1.5;
	font-size: 19px;
	text-align: center;
}
#sidebar .newsHighlights div {
	background-image: url("/brp/images/tree-icon.png");
	background-repeat: no-repeat;
}
.newsHighlights p {
	padding: 0 10px;
}

.subsection a {
	color: #007DBC;	
}

.thickborder {
    background-color: #ececec;
    border: 1px solid #cccccc;
    padding: 10px;
}

.thickborder-content {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 15px 15px 0;
}

@media (max-width: 1200px) { 
  #main-container .navbar .nav > li > a {
		padding: 12px 30px;	
	}
}

@media (min-width: 767px) {
	#header-search {
    	top: -110px;
	}
	.video-caption { margin-top:-30px; }
}


/* ====== Framework CSS Start ======= */

/*****************************
IMAGE SECTION
*****************************/
#image-section
{
padding: 0px 10px 8px 10px;
max-width: 500px;
margin: auto;
}

/*****************************
LIST SECTION
*****************************/
#list-section
{
max-width: 620px;
margin: auto;
font-size: 17px;
}

#content #list-section ul li
{
	list-style:disc;
	color:#fff;
}

#list-section .accordion-heading { border:none }

#list-section .accordion-group .accordion-heading a, .accordion-group .accordion-heading a.collapsed { background:none; }

.list-header
{
background-color: #706f6f;
cursor: pointer;
font-size: 19.5px;
margin-top: 8px;
}

.list-header a
{
color: #ffffff;
text-decoration: none;
font-weight: normal;
padding: 12px !important;
}

.panel-group
{
margin-top: 8px;
margin-bottom: 8px;
}

.panel-body
{
padding-bottom: 8px !important;
}

.panel
{
border: 0px !important;
}

.accordion
{
border: 0px;
}

.description-section
{
padding: 25px 15px 15px 15px !important;
}

.description-section li
{
line-height: 21px !important;
}

.accordion-group
{
border: 0px;
}

	/*****************************
	PREVENTION
	*****************************/
	#prevention-section
	{
	background-color: #2a72a5;
	padding: 17px 0px 1px 0px;
	color: #ffffff;
	}

	#prevention-heading
	{
	box-shadow: inset  0 0 0 0 #2a72a5;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
	padding: 0;
	}

	#prevention-heading:focus
	{
	background-color: #2a72a5;
	}

	#prevention-heading:hover
	{
	box-shadow: inset 200px 60px 0 0 #2a72a5;
	}

	#prevention-heading a
	{
	color: white;
	}

	#prevention-focus:focus
	{
	background-color: #2a72a5;
	}

	/*****************************
	EARLY
	*****************************/
	#early-section
	{
	background-color: #167f8a;
	padding: 17px 0px 1px 0px;
	color: #ffffff;
	}

	#early-heading
	{
	box-shadow: inset 0 0 0 0 #167f8a;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
	padding: 0;
	}

	#early-heading:focus
	{
	background-color: #167f8a;
	outline: none !important;
	}

	#early-heading:hover
	{
	box-shadow: inset 200px 60px 0 0 #167f8a;
	}

	#early-heading a
	{
	color: white;
	}

	#early-focus:focus
	{
	background-color: #167f8a;
	}

	/*****************************
	DIAGNOSIS
	*****************************/
	#diagnosis-section
	{
	background-color: #6c669a;
	padding: 17px 0px 1px 0px;
	color: #ffffff;
	}

	#diagnosis-heading
	{
	box-shadow: inset 0 0 0 0 #6c669a;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
	padding: 0;
	}

	#diagnosis-heading:focus
	{
	background-color: #6c669a;
	outline: none !important;
	}

	#diagnosis-heading:hover
	{
	box-shadow: inset 200px 60px 0 0 #6c669a;
	}

	#diagnosis-heading a
	{
	color: white;
	}

	#diagnosis-focus:focus
	{
	background-color: #6c669a;
	}

	/*****************************
	SURVIVORSHIP
	*****************************/
	#survivorship-section
	{
	background-color: #813371;
	padding: 17px 0px 1px 0px;
	color: #ffffff;
	}

	#survivorship-heading
	{
	box-shadow: inset 0 0 0 0 #813371;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
	padding: 0;
	}

	#survivorship-heading:focus
	{
	background-color: #813371;
	outline: none !important;
	}

	#survivorship-heading:hover
	{
	box-shadow: inset 200px 60px 0 0 #813371;
	}

	#survivorship-heading a
	{
	color: white;
	}

	#survivorship-focus:focus
	{
	background-color: #813371;
	}


@media only screen and (max-width: 600px) 
{
	.list-header
	{
	padding: 2px 8px 4px 8px;
	}

	.list-header a	 
	{
	font-size: 16.5px;
	}

	#list-section
	{
	font-size: 14.5px;
	}

	.description-section
	{
	padding: 15px 15px 5px 15px !important;
	}
}

/* ====== Framework CSS End ++======= */