#header-nci {
	background-color:#707070;
	height: 61px;
	margin: 0 -20px;	
}

#header {
    height: 100px;
	background-color:#0072a2;
}

.minibanner-gray {
	background: none repeat scroll 0 0 #707070;
    height: 61px;
    margin: 0 auto;
    max-width: 1240px;
}

#header #cancercontrol-banner {
	background: url("../images/BRP_1024pixwide_web_banner.png") no-repeat scroll 0 0 #0072a2;
	height: 100px;
	background-color:#0072a2;
	max-width: 1240px;
    margin: 0 auto;
	position:relative;
	
}


.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #793c82;
    background-image: linear-gradient(to bottom, #333, #793c82);
    color: #ffffff;
}

.navbar .nav > li > a {
	padding: 12px 52px;	
}

#header #cancercontrol-banner a {
	display: block;
	width: 100%;
	height:100px;
}

#header #cancercontrol-banner a > span {
	display: none;
}

.span9 .breadcrumb li, .span12 .breadcrumb li {
	background: #BEBEC0;
}

.breadcrumb a {
	color: #424242;
}


.breadcrumb li.active div.divider {
	background: url(../images/breadcrumb-divider-brp.png) no-repeat;
}

.breadcrumb li div.divider {
    background: url(../images/breadcrumb-divider-parents-brp.png) no-repeat;

}

.span9 .breadcrumb li.active, .span12 .breadcrumb li.active {
	background: #793C82;
}

.breadcrumb { clear:both; }

body #header-search {
	top:30px;
}

.program-areas-header {
	color: #424242;
}

#content .listimage ul li {
	list-style-image: url(../images/featured-icon.png);
	color: #424242;
}

#content .listimage ul li a {
	/*color: #424242;*/ /* CD: Not sure if we should have this */
}

.margin-bottom-list {
	margin-bottom: 20px;
}

#content h2 {
	padding-left: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

#sidebar .comments, #sidebar .additional-text {
	padding:1em;
}

footer {
	margin: 0;
}

.constantContact .fsBody {
    color: #333;
    font: 1em/1.4 "Open Sans",Helvetica,Arial,sans-serif;
    margin: 0;
}
.constantContact .fsRow.fsFieldRow.fsLastRow {
    margin: 0;
}
.subscribeWrap {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e6eeee;
    float: right;
    margin: 0 0 0 2em;
    padding: 0.5em;
    width: 50%;
}
.constantContact {
    background: url("/i/subscribe-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 1em;
}
.constantContact .fsBody .fsForm {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0;
}
.constantContact .fsBody .fsRowBody {
    padding: 0;
}
.constantContact .fsFieldFocused {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
}
.fsPage .fsLabel {
    display: none !important;
}
.constantContact label {
    background: url("/brp-new/images/icn-signup.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #333;
    font-weight: bold;
    letter-spacing: 0.04em;
    padding-left: 1.5em;
    text-transform: uppercase;
}
.constantContact div.fsError {
    border-radius: 3px;
    color: #333;
    font-size: 0.9em;
    margin: 0.5em 0;
    padding: 0.5em;
}
.constantContact .fsValidationError {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.profileBox {
	float: left;
	padding: 15px;
	border: 1px solid #CCCCCC;
	width: 12%;
	margin-right: 10px;
}
.newsHighlights {
	border: 1px solid #CCCCCC;	
}
#content .newsHighlights h2, #sidebar .newsHighlights h2 {
	color: #FFFFFF;
	background: #793C82;
	padding: 10px;
	margin-top: 0;
	border-bottom: 1px solid #CCCCCC;	
	line-height: 1.5;
	font-size: 19px;
	text-align: center;
}
#sidebar .newsHighlights h2 {
	background-image: url(../images/tree-icon.png);
	background-repeat: no-repeat;
}
#sidebar .newsHighlights {
	width: 90%;	
}
.newsHighlights p {
	padding: 0 10px;
}

.subsection a {
	color: #0088cc;	
}

@media (max-width: 1200px) { 
  #main-container .navbar .nav > li > a {
	padding: 12px 30px;	
}
}

@media (max-width: 979px) {
	#header #cancercontrol-banner {
	background: url("../images/BRP_319pixwide_web_banner.png") no-repeat scroll 0 0 #0072a2;
  }	
}

@media (max-width: 767px) { 
  body #header-search {
    top: 95px;
	z-index:1000;
  }
}
@media (min-width: 767px) {   
  #header, #header-nci, .nav { margin:0px;} 
}