html, body {margin: 0; height: 100%;}
ul, ol, h1 {
    margin: 0 0;
    padding: 0;
}
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  padding:0;
  background-color:#2e2e35 ;
}

a {
  text-decoration: none;
}

#header-nci { background-color:#fff; margin-bottom:0px; width:100%; z-index:2; }

#banner { position:relative; background-color:#2E2E35; padding:0; margin:0px; height:60px; }

#banner h1 {
  margin-left:5px;
  float:left;
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

#banner a { color:#fff; font-weight:bold; }

img.left { text-align:center; padding:1em; }
img.right { float:right; padding:1em; }

h3, h4 { text-align:center; }

h4 { font-size:17px; font-weight:bold; }

footer { display:none; }

footer {
   position:fixed;
   bottom:0;
   width:100%;
   height: 155px;
   background-color: #f2f2f2;
   box-shadow: 0 6px 4px -2px rgba(36, 36, 36, 0.15) inset;
   font-size:.8em;
   z-index:3;
}

footer ul, footer p { padding-top:.5em; color:#337ab7;  }

/* -------------------------------- 

Quotes style

-------------------------------- */

.cd-project-info blockquote {
font-style: italic;
max-width: 400px;
line-height: 1.45;
color: #383838;
line-height: 2;
float:right;
 margin:.5em;
}

.director .cd-project-info blockquote {
	float:none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module.content{
    padding: 40px 0;
}

section.module.parallax {
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax-1{
    background-image: url("/bb/images/research.jpg");
}
section.module.parallax-2{
    background-image: url("/bb/images/health-disparities.jpg");
}
section.module.parallax-3{
    background-image: url("/bb/images/seer.jpg");
}
section.module.parallax-4{
    background-image: url("/bb/images/precision-medicine.jpg");
}
section.module.parallax-5{
    background-image: url("/bb/images/hpv.jpg");
}
section.module.parallax-6{
    background-image: url("/bb/images/outcomes.jpg");
}
section.module.parallax-7{
    background-image: url("/bb/images/diet.jpg");
}
section.module.parallax-8{
    background-image: url("/bb/images/methods.jpg");
}
/* -------------------------------- 

Leadership navigation style

-------------------------------- */

.nav-pills > li#egrp > a, .nav-pills > li#egrp > a:hover, .nav-pills > li#egrp > a:focus { background-color:#0084B5; color:#fff; }
.nav-pills > li#srp > a, .nav-pills > li#srp > a:hover, .nav-pills > li#srp > a:focus { background-color:#0084B5; color:#fff; }
.nav-pills > li#brp > a, .nav-pills > li#brp > a:hover, .nav-pills > li#brp > a:focus { background-color:#0084B5; color:#fff; }
.nav-pills > li#hdrp > a, .nav-pills > li#hdrp > a:hover, .nav-pills > li#hdrp > a:focus { background-color:#0084B5; color:#fff; }

.nav-pills > li#egrp.active > a, .nav-pills > li#egrp.active > a:hover, .nav-pills > li#egrp.active > a:focus { background-color:#DFF1FB; color:#0084B5; }
.nav-pills > li#srp.active > a, .nav-pills > li#srp.active > a:hover, .nav-pills > li#srp.active > a:focus { background-color:#DFF1FB; color:#0084B5; }
.nav-pills > li#brp.active > a, .nav-pills > li#brp.active > a:hover, .nav-pills > li#brp.active > a:focus { background-color:#DFF1FB; color:#0084B5; }
.nav-pills > li#hdrp.active > a, .nav-pills > li#hdrp.active > a:hover, .nav-pills > li#hdrp.active > a:focus { background-color:#DFF1FB; color:#0084B5; }

/* -------------------------------- 

Main Components 

-------------------------------- */

.entire-container {
  background-color:#fff;
}

.projects-container {
    background-color: #fff;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.projects-container > ul {
  position:fixed;
  top: 100px;
  right: 0 ;
  bottom : 0 ;
  left : 0 ;
  margin : auto;
}

.projects-container.project-is-open > ul {
	width:100%;
	position:absolute;
}

.projects-container::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}

.projects-container .cd-single-project {
	position: absolute;
	clear:both;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	/* on mobile -  move items outside the viewport */
	-webkit-transform: translateX(-120%);
	-moz-transform: translateX(-120%);
	-ms-transform: translateX(-120%);
	-o-transform: translateX(-120%);
	transform: translateX(-120%);
	background-position:45% top;
	background-repeat:no-repeat;
}

.projects-container.project-is-open .cd-single-project {
	position: fixed;
}

.projects-container .cd-single-project::after {
  /* background image */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.5s, height 0.4s;
  -moz-transition: opacity 0.5s, height 0.4s;
  transition: opacity 0.5s, height 0.4s;
}

.projects-container .cd-single-project::before {
  /* never visible - this is used in jQuery to detect if the background image has been loaded  */
  content: '/bb/images/img-1-large.jpg';
  display: none;
}
	.projects-container .cd-single-project:first-of-type {
  top: 0vh;
  	background-color:#FFC21E;
}
	.projects-container .cd-single-project:nth-of-type(2) {
  top: 10vh;
  	background-color:#569225;
}
.projects-container .cd-single-project:nth-of-type(3) {
  top: 20vh;
  	background-color:#643CCB;
}
.projects-container .cd-single-project:nth-of-type(4) {
	  background-image: url("/bb/images/img-1-large.jpg");
  top: 30vh;
}
.projects-container .cd-single-project:nth-of-type(4)::after {
  background-image: url("/bb/images/img-1-large.jpg");
}
.projects-container .cd-single-project:nth-of-type(4)::before {
  content: '/bb/images/img-1-large.jpg';
}
.projects-container .cd-single-project:nth-of-type(5) {
	  background-image: url("/bb/images/img-2-large.jpg");
  top: 40vh;
}
.projects-container .cd-single-project:nth-of-type(5)::after {
  background-image: url("/bb/images/img-2-large.jpg");
}
.projects-container .cd-single-project:nth-of-type(5)::before {
  content: '/bb/images/img-2-large.jpg';
}
.projects-container .cd-single-project:nth-of-type(6) {
	  background-image: url("/bb/images/img-3-large.jpg");
  top: 50vh;
}
.projects-container .cd-single-project:nth-of-type(6)::after {
  background-image: url("/bb/images/img-3-large.jpg");
}
.projects-container .cd-single-project:nth-of-type(6)::before {
  content: '/bb/images/img-3-large.jpg';
}
.projects-container .cd-single-project:nth-of-type(7) {
	  background-image: url("/bb/images/img-4-large.jpg");
  top: 60vh;
}
.projects-container .cd-single-project:nth-of-type(7)::after {
  background-image: url("/bb/images/img-4-large.jpg");
}
.projects-container .cd-single-project:nth-of-type(7)::before {
  content: '/bb/images/img-4-large.jpg';
}
.projects-container .cd-single-project.is-loaded {
  /* move items in the viewport when background images have been loaded */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.projects-container .cd-single-project.is-full-width {
  /* selected item */
  position:absolute;
  top: 0;
  height: auto;
  z-index: 1;
  cursor: auto;
  -webkit-transition: z-index 0s 0s, top 0.4s 0s;
  -moz-transition: z-index 0s 0s, top 0.4s 0s;
  transition: z-index 0s 0s, top 0.4s 0s;
  		background-size:175% auto;
}
.projects-container .cd-single-project.is-full-width.first::after {
  height: 10vh;
}

.projects-container .cd-single-project.additional img {
 width:100%; height:auto;
}

.projects-container .cd-single-project.additional h4 {
	text-align:left;
}

.priority .cd-project-info img, .investments .cd-project-info img { width:100%; height:auto; padding-top:2em; padding-bottom:2em; }

.leadership .cd-project-info img { width:100%; height:auto; }


@media only screen and (min-width: 480px) {

#banner h1 {
  margin-left:50px;
}

img.left { float:left; padding:1em; }
img.right { float:right; padding:1em; }

#banner div {
    float:right;
	padding: 20px;
	padding-right:150px;
}
}

@media only screen and (min-width: 480px) {
.projects-container > ul {
  top: 160px;
}
}

@media only screen and (min-width: 1024px) {

body {
  background-color:#fff;
}

.projects-container > ul {
  width: 100vw;
  top: 160px;
}
  .projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .projects-container .cd-single-project {
    width: 25%;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: width 0s;
    -moz-transition: width 0s;
    transition: width 0s;
  }
  
  .projects-container .cd-single-project.first {
		width:33.5%;
		/*height: 45px;*/
	}
  
  .projects-container .cd-single-project:first-of-type {
    top: 0;
    left: 0vw;
  }

  .projects-container .cd-single-project:nth-of-type(2) {
    top: 0;
    left: 33.3%;
  }
  .projects-container .cd-single-project:nth-of-type(2)::before {
	background-color:#569225;
	height: 45px;
  }
  .projects-container .cd-single-project:nth-of-type(2)::after {
	background-color:#569225;
  } 
  .projects-container .cd-single-project:nth-of-type(3) {
    top: 0;
    left: 66.5%;
  }
  .projects-container .cd-single-project:nth-of-type(3)::before {
	background-color:#643CCB;
	height: 45px;
  }
  .projects-container .cd-single-project:nth-of-type(3)::after {
	background-color:#643CCB;
  } 
  .projects-container .cd-single-project:nth-of-type(4) {
    top: 45px;
    left: 0vw;
  }
  .projects-container .cd-single-project:nth-of-type(5) {
    top: 45px;
    left: 25vw;
  }
  .projects-container .cd-single-project:nth-of-type(6) {

    top: 45px;
    left: 50vw;
  }
  .projects-container .cd-single-project:nth-of-type(7) {
    top: 45px;
    left: 75vw;
  }
  .projects-container .cd-single-project.is-loaded {
    /* show items when background images have been loaded */
    opacity: 1;
	padding-bottom:0px;
  }
  .projects-container .cd-single-project.is-full-width {
    /* selected item */
    top: 0;
	left: 0vw;
    width: 100%;
    -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
	background-size:100% auto;
  }
    .projects-container .cd-single-project.is-full-width.first {
    /* selected item */
    left: 0vw;
    width: 100%;

    -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
  }
  
   .projects-container ul.nav-pills { top: 533px; }
  
  .nav-pills > li > a { border-radius:0px; }
  
  .tab-content { margin-top:-2px; padding-left:30px; }
  
  .nav-pills > li {width:303px;}
  .nav-pills {margin-bottom:2px;}
  
   
  .nav-pills > li#egrp > a, .nav-pills > li#egrp > a:hover, .nav-pills > li#egrp > a:focus { background: url(/bb/images/OrgChart-EGRP-buttons.jpg) no-repeat; background-position: 0px 0px; height:75px; max-width: 230px; background-size:100% 200%; }
.nav-pills > li#srp > a, .nav-pills > li#srp > a:hover, .nav-pills > li#srp > a:focus { background: url(/bb/images/OrgChart-SRP-buttons.jpg) no-repeat; background-position: 0px 0px; height:75px; padding:10px; max-width: 230px; background-size:100% 200%; }
.nav-pills > li#brp > a, .nav-pills > li#brp > a:hover, .nav-pills > li#brp > a:focus { background: url(/bb/images/OrgChart-BRP-buttons.jpg) no-repeat; background-position: 0px 0px; height:75px; max-width: 230px; background-size:100% 200%; }
.nav-pills > li#hdrp > a, .nav-pills > li#hdrp > a:hover, .nav-pills > li#hdrp > a:focus { background: url(/bb/images/OrgChart-HDRP-buttons.jpg) no-repeat; background-position: 0px 0px; height:75px; max-width: 230px; background-size:100% 200%; }

.nav-pills > li#egrp.active > a, .nav-pills > li#egrp.active > a:hover, .nav-pills > li#egrp.active > a:focus { background: url(/bb/images/OrgChart-EGRP-buttons.jpg) no-repeat; background-position: 0px -75px; height:75px; max-width: 230px; background-size:100% 200%; }
.nav-pills > li#srp.active > a, .nav-pills > li#srp.active > a:hover, .nav-pills > li#srp.active > a:focus { background: url(/bb/images/OrgChart-SRP-buttons.jpg) no-repeat; background-position: 0px -75px; height:75px; padding:10px; max-width: 230px; background-size:100% 200%; }
.nav-pills > li#brp.active > a, .nav-pills > li#brp.active > a:hover, .nav-pills > li#brp.active > a:focus { background: url(/bb/images/OrgChart-BRP-buttons.jpg) no-repeat; background-position: 0px -75px; height:75px; max-width: 230px; background-size:100% 200%; }
.nav-pills > li#hdrp.active > a, .nav-pills > li#hdrp.active > a:hover, .nav-pills > li#hdrp.active > a:focus { background: url(/bb/images/OrgChart-HDRP-buttons.jpg) no-repeat; background-position: 0px -75px; height:75px; max-width: 230px; background-size:100% 200%; }
.nav-pills > li > a span { display:none; }

}
@media only screen and (min-width: 1170px) {	
footer {
   height:100px;   /* Height of the footer */
}
  .projects-container .cd-single-project::after {
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
    -moz-transition: -moz-transform 0.8s, opacity 0.5s;
    transition: transform 0.8s, opacity 0.5s;
  }

  .no-touch .projects-container .cd-single-project:hover::after, .projects-container .cd-single-project.is-full-width.is-loaded::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.cd-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 4vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.is-full-width .cd-title {
  top: 20vh;
  -webkit-transition: opacity 0s, top 0.4s;
  -moz-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s;
}
.first.is-full-width .cd-title {
  top: 1.6em;
}

.cd-title > * {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-title h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color:#fff;
  margin:0 auto;
  width:200px;
}
.cd-title p {
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.2;
  padding: .4em 2em;
  display: none;
  opacity: .6;
}

@media only screen and (min-width: 1024px) {
  .cd-title {
    top: 30vh;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-20px);
    -moz-transform: translateY(-50%) translateX(-20px);
    -ms-transform: translateY(-50%) translateX(-20px);
    -o-transform: translateY(-50%) translateX(-20px);
    transform: translateY(-50%) translateX(-20px);
  }
  .first .cd-title {
    top: 1.3em;
  }
  .is-loaded .cd-title {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
    -moz-transition: -moz-transform 0.6s, opacity 0.6s, left 0.4s;
    transition: transform 0.6s, opacity 0.6s, left 0.4s;
  }
  .is-loaded.is-full-width .cd-title {
    -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
    -moz-transition: -moz-transform 0.6s, opacity 0s, left 0.4s;
    transition: transform 0.6s, opacity 0s, left 0.4s;
  }
  .cd-title p {
    display: block;
  }
  .vision h2 { border-bottom: 5px solid #D4C75A; }
  .enabling h2 { border-bottom: 5px solid #B35AD4; }
  .investments h2 { border-bottom: 5px solid #D55959; }
  .signature h2 { border-bottom: 5px solid #5A88D4; }
}
@media only screen and (min-width: 1170px) {
  .cd-title h2 {
    font-size: 1.75rem;
  }
  .first.is-full-width .cd-title {
  top: 1.3em;
}
}

.cd-project-info {
  clear: both;
  visibility: hidden;
  opacity: 0;
  margin-top: 70vh;
  padding: 4em 0;
  cursor: auto;
  background-color: #ffffff;
  color: #3f538e;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}

.first .cd-project-info {
  margin-top:50px;
}

.is-full-width .cd-project-info {
  visibility: visible;
  opacity: 1;
}

.is-full-width .cd-project-info ul li {
  margin-bottom:7px;
}

.cd-project-info > p, .cd-project-info > h2, .cd-project-info > h3, .cd-project-info > h4, .cd-project-info > div, .cd-project-info > ul, .cd-project-info > section > div.container > p, .cd-project-info > section > div.container > ul {
  width: 90%;
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
}

li.priority div.cd-project-info > div {
width: 100%;
max-width: 100%;
 }

.cd-project-info > ul, .cd-project-info > div > div > ul, .cd-project-info > section > div.container > ul {
	padding-left:2em;	
}

.bynumbers div:first-of-type { font-size:2.5em; font-weight:bold; font-style:italic; text-align: left; padding-top:10px; padding-bottom:10px; }

.bynumbers div:nth-of-type(2) {
    height:100px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px; }
	
	.bynumbers div p { 
    display: table-cell;
    vertical-align: middle;
    padding: 10px; }


/*.row{
  margin-top: 30px;
  margin-bottom: 30px
}*/

@media only screen and (min-width: 1024px) {
	.first .cd-project-info {
  margin-top:50px;
}
  .bynumbers div:first-of-type { text-align: right; }
  
  .cd-project-info {
    position: relative;
    z-index: 1;
  }
}

.projects-container .cd-close,
.projects-container .cd-scroll {
  display: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
  -moz-transition: -moz-transform 1s 0s, visibility 0s 1s;
  transition: transform 1s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
  position: absolute;
  top: 30vh;
  right: 5vw;
  background: url("/bb/images/cd-icon-close-mobile.svg") no-repeat center center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-close {
    background-image: url("/bb/images/cd-icon-close-desktop.svg");
  }
}

.projects-container .cd-scroll {
  position: absolute;
  bottom: 30vh;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("/bb/images/cd-icon-arrow-mobile.svg") no-repeat center center;
}

@media only screen and (min-width: 1170px) {
  .projects-container .cd-scroll {
    background-image: url("/bb/images/cd-icon-arrow-desktop.svg");
  }
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation: cd-translate 1.2s 0.4s;
  -moz-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.no-touch .project-is-open .cd-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.no-touch .project-is-open .cd-scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}