#header {
    background-color: #008391;
}

#header #cancercontrol-banner {
	background-color:#008391;	
}

.navbar .nav > li > a {
    min-height: 40px;
	padding: 12px 60px;
	text-align: center;
}

.advocates li {
	margin-bottom: 15px;
}
.telepic span {
	width: 75px;
	float: left;
	margin-bottom: 30px;
}
.teletext {
	margin-left: 95px;
	margin-top: -10px;
}
.navbar-inverse .nav > li > a {
	color: #025A6A;
}
.navbar .nav li a:hover {
	background-color: #008391;
}

.navbar-inverse .nav li.dropdown > .hover-link .caret {
	border-bottom-color: #008391;
    border-top-color: #008391;
}

.navbar .nav li a:hover,
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
	background-color: #008391;
    background-image: linear-gradient(to bottom, #333333, #008391);
	color: #FFFFFF;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #333333, #008391);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#008391));
  background-image: -webkit-linear-gradient(top, #333333, #008391);
  background-image: -o-linear-gradient(top, #333333, #008391);
  background-image: linear-gradient(to bottom, #333333, #008391);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff6C3A77', GradientType=0);
}

.nav .dropdown-menu > li > a {
	color: #025A6A;
}

.nav .dropdown li a:hover {
	background-color: #008391;
}
.subsection a {
	color: #696559;
}
.navbar-inverse .nav-collapse .dropdown-menu a {
	color: #025A6A;
}
.navbar-inverse .btn-navbar, .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus {
	background-color: #008391;
	background-image: linear-gradient(to bottom, #008391, #008391);
	border-color: #008391;
}
.listimage .bi2004 {
	padding-left: 0;
	line-height: 1.2
}
#content h1, #content h2 {
	color: #008391;
}
#content h2 a {
	font-size: 22.5px;
}
#main-container .breadcrumb li.active {
	background-color: #008391;
}
.breadcrumb li.active div.divider {
	background: url(../../images/breadcrumb-divider-ocs.png) no-repeat scroll; 
}
.breadcrumb li div.divider {
	background: url(../../images/breadcrumb-divider-parents-ocs.png) no-repeat scroll;
}
.breadcrumb a {
	color: #025A6A;
}
.span9 .breadcrumb li, .span12 .breadcrumb li {
	background: none repeat scroll 0 0 #abcfd5;
}
.sidebar-nav .nav-list .nav-header a {
	color: #696559;
}
#content .listimage ul li {
	list-style-image: url(../../images/tiny-arrow-ocs.png);
}

.lightbox-content .lightbox-caption {
    margin-bottom: 9px;
}

@media (min-width: 767px) {
	#header-search {
    	top: -110px;
	}
}

@media (max-width: 767px) {
  .navbar-inverse .nav-collapse .nav > li > a {
    color: #025A6A;
  }
}

@media (max-width: 1199px) {
	.navbar .nav li a {
		padding: 12px 38px;
	}
}