/* styles pulled from nih.gov */
body {
	font: 80%/1.5em Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #e8e7e3 url(images/body-bkgnd.jpg) no-repeat center top;
}

#skipnav {
 	position: absolute;
 	left: -9000px;
 	width: 1px;
 	height: 1px;
 	overflow: hidden;
}

form {
	margin: 0;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.inputfield {
	height: 18px;
	margin-top: 1px;
	margin-right: 4px;
	border: 1px solid #bfbfbf;
}

#container {
	position: relative;
	text-align: left;
	margin: 0 auto;
	width: 944px;
}

.hide {
 	position: absolute;
 	left: -9000px;
 	width: 1px;
 	height: 1px;
 	overflow: hidden;
}

#banner { height: 104px; background: transparent url(images/banner-nihlogo.gif) no-repeat 418px 24px; }
#banner h2 { background: none; }
#banner p { position: absolute; top: 0; left: 0; width: 274px; height: 30px; }
#banner p span, #banner h2 span { position: absolute; left: -9000px; width: 1px; height: 1px; overflow: hidden; }
#banner p, #banner ul { font: 0.8em/1.2em Verdana, Arial, Helvetica, sans-serif; list-style-image: none; }
#banner a { color: #757575; }
#banner a:visited { color: #757575; }
#banner a:hover { color: #444; text-decoration: underline; }
#banner p a { display: block; width: 274px; height: 30px; background: transparent url(images/banner-hhs.gif) no-repeat left top; }
#banner p a:hover { background: transparent url(images/banner-hhs.gif) no-repeat 0 -30px; }
#banner h2 { position: absolute; top: 40px; left: 0; width: 344px; height: 30px; padding: 0; margin: 0; }
#banner h2 a { display: block; width: 344px; height: 30px; background: transparent url(images/banner-nih.gif) no-repeat left top; }
#banner h2 a:hover { background: transparent url(images/banner-nih.gif) no-repeat 0 -30px; }
#banner p#tagline { position: absolute; top: 70px; left: 0; width: 214px; height: 16px; background: transparent url(images/banner-tagline2.gif) no-repeat left top; }
#banner ul#utilities { position: absolute; top: 9px; right: 0;text-align: right; padding: 0; margin: 0; list-style-type: none; }
#banner ul#utilities li { display: inline; padding: 0 0.8em 0 0.4em; margin: 0; background: none; border-right: 1px solid #ccc; }
#banner ul#utilities li.last { padding-right: 0; border-right: none; }
#search { position: absolute; top: 47px; right: 0; min-width: 329px; }
* html #search { /* IE6 fix */ width: 332px; }
#search legend { position: absolute; left: -9000px; width: 1px; height: 1px; overflow: hidden; }
#search input { float: left; }
#nihsearchbox { width: 255px; height: 18px; margin-top: 1px; margin-right: 4px; border: 1px solid #bfbfbe; }

#content {
	float: left;
	width: 944px;
	background-color: #fff;
	position: relative;
	
}
* html #content {   /* IE6 fix */
	float: none;
	height: 328px;
}



#socialmedia {
	clear: both;
	font: 0.9em/1em Trebuchet MS, Arial, Helvetica, sans-serif;
	width: 924px;
	min-height: 56px;
	padding-left: 20px;
	
	background: #f3f2f2 url(images/socialmedia-bkgnd.jpg) no-repeat left bottom;
}
#socialmedia h2 {
 	position: absolute;
 	left: -9000px;
 	width: 1px;
 	height: 1px;
 	overflow: hidden;
}
#socialmedia ul {
	float: left;
	width: 924px;
	list-style-type: none;
	padding: 4px 0 18px 0;
	margin: 0;
	list-style-image: none;
}
#socialmedia ul li {
	float: left;
	padding: 8px 17px 5px 0;
	margin: 0;
	background: none;
}
#socialmedia ul li a {
	display: block;
	color: #757575;
	height: 15px;
	padding: 4px 0 1px 23px;
}
#socialmedia ul li a:visited {
	color: #757575;
}
#socialmedia ul li a:hover {
	color: #444;
}
#socialmedia ul li a.last {
	padding-right: 0;
}
#socialmedia ul li a.bookmark {
	min-height: 0;
	background: url(images/socialmedia-bookmark.gif) no-repeat 0 1px;
}
#socialmedia ul li a.email {
	min-height: 0;
	background: url(images/socialmedia-email.gif) no-repeat 0 1px;
}
#socialmedia ul li a.rss {
	min-height: 0;
	background: url(images/socialmedia-rss.gif) no-repeat 0 1px;
}
#socialmedia ul li a.widgets {
	min-height: 0;
	background: url(images/socialmedia-widgets.gif) no-repeat 0 1px;
}
#socialmedia ul li a.multimedia {
	min-height: 0;
	background: url(images/socialmedia-multimedia.gif) no-repeat 0 1px;
}
#socialmedia ul li a.radio {
	min-height: 0;
	background: url(images/socialmedia-radio.gif) no-repeat 0 1px;
}
#socialmedia ul li a.twitter {
	min-height: 0;
	background: url(images/socialmedia-twitter.gif) no-repeat 0 1px;
}
#socialmedia ul li a.facebook {
	min-height: 0;
	background: url(images/socialmedia-facebook.gif) no-repeat 0 1px;
}
#socialmedia ul li a.youtube {
	min-height: 0;
	background: url(images/socialmedia-youtube.gif) no-repeat 0 0;
}

* html #socialmedia ul li a.bookmark {   /* IE6 fix */
	width: 8.8em;
}
* html #socialmedia ul li a.email {   /* IE6 fix */
	width: 6.9em;
}
* html #socialmedia ul li a.rss {   /* IE6 fix */
	width: 4.8em;
}
* html #socialmedia ul li a.widgets {   /* IE6 fix */
	width: 5.8em;
}
* html #socialmedia ul li a.multimedia {   /* IE6 fix */
	width: 5.3em;
}
* html #socialmedia ul li a.radio {   /* IE6 fix */
	width: 4.6em;
}
* html #socialmedia ul li a.twitter {   /* IE6 fix */
	width: 3.6em;
}
* html #socialmedia ul li a.facebook {   /* IE6 fix */
	width: 4em;
}
* html #socialmedia ul li a.youtube {   /* IE6 fix */
	width: 4em;
}

#footer {
	clear: both;
	width: 944px;
	font: 0.9em/1em Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #6e6e6e;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	background-color: #e8e7e3;
}
#footer h2 {
 	position: absolute;
 	left: -9000px;
 	width: 1px;
 	height: 1px;
 	overflow: hidden;
}
#footer p.address {
	padding-top: 8px;
}
#footer ul {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	padding-bottom: 1.3em;
	margin: 0;
}
#footer li {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
}
#footer li a {
	padding-left: 0.4em;
	padding-right: 0.8em;
	margin: 1px;
	border-right: 1px solid #c1c1c1;
}
#footer li.last a {
	border-right: none;
}
/*
#footer a {
	color: #6e6e6e;
}
#footer a:visited {
	color: #6e6e6e;
}
#footer a:hover {
	color: #444;
	text-decoration: underline;
}