* { margin: 0; padding: 0; }

h2 { text-align: center; color: rgb(85,142,213); margin-bottom: 1em; line-height: 125%; }
p { margin-bottom: 1em; }
p, ol { margin-left: 1em; }
h3 { margin-left: .8em; }
li:last-child { margin-bottom: 1em; }
li.last-child { margin-bottom: 1em; }
ol li, ul.listPad li { margin-left: 3em; }

#navigation { height: 37px; clear: both; width: 944px;}
    #navMenu { background: url('images/navigation-sprite.png'); height: 37px; width: 944px; position:relative; }
    #navMenu span { display: none; }
    #navMenu li { list-style:none; float: left;}
    #navMenu a { height: 37px; display: block; }
    
    #navHome { width: 69px; }
    #navHome a:hover, #navHome a.active { width: 69px; background: url('images/navigation-sprite.png') 0px -37px no-repeat; }
    
    #navAbout { width: 156px; }
    #navAbout a:hover, #navAbout a.active { width: 156px; background: url('images/navigation-sprite.png') -69px -37px no-repeat; }
    
	#navResearch { width: 193px; }
	#navResearch a:hover, #navResearch a.active { width: 193px; background: url('images/navigation-sprite.png') -225px -37px no-repeat; }
	
	#navFunding { width: 217px; }
	#navFunding a:hover, #navFunding a.active { width: 217px; background: url('images/navigation-sprite.png') -418px -37px no-repeat; }
	
	#navPortfolio { width: 192px; }
	#navPortfolio a:hover, #navPortfolio a.active { width: 192px; background: url('images/navigation-sprite.png') -635px -37px no-repeat; }
	
	#navResources { width: 117px; }
	#navResources a:hover, #navResources a.active { width: 117px; background: url('images/navigation-sprite.png') -827px -37px no-repeat; }
	
#mainArea { clear: both; width: 944px; margin-top: 1em }
	#leftContent { float:left; width: 744px; margin-bottom: 2em; }
	#widget { float: right;  width: 200px; display: block; margin: 0 auto; }
            #widget a { text-decoration: none; color: rgb(31,73,125);}
	    .widgetBubble { border-radius: 8px; background: rgb(220,230,242); color: rgb(31,73,125); 
                        width: 162px; display: block; margin: 0 auto; text-align: center; padding: 5px;
                        margin-bottom: 1em; }
	
.carousel { width: 600px; height: 200px; border: 1px solid black; display:block; margin: 0 auto; margin-bottom: 2em; }
.topBubble { width: 590px; padding: 5px; display:block; margin: 0 auto; border-radius: 8px; background: rgb(79, 129, 189);color: #fff; text-align:center; position: relative; /*/*behavior: url(pie.htc);*/*/}
.bubbleRow { clear:both; display:block; margin: 0 auto; padding-top: .5em; }
.smallBubbleLeft { float:left; display:block; border-radius: 8px; background: rgb(79, 129, 189); color: #ffffff; text-align:center; width: 285px; padding: 5px; margin-left: 72px; position: relative; /*behavior: url(pie.htc);*/}
.smallBubbleRight { float:right; display:block; border-radius: 8px; background: rgb(79, 129, 189); color: #ffffff; text-align:center; width: 285px; padding: 5px; margin-right: 72px; position: relative; /*behavior: url(pie.htc);*/}
.smallBubble2 { float:left; display:block; border-radius: 8px; background: rgb(79, 129, 189); color: #ffffff; text-align:center; width: 285px; padding: 5px; margin-left: 72px; height: 57px; position: relative; /*behavior: url(pie.htc);*/}
    .topBubble a, .bubbleRow a { color: #ffffff; text-decoration:none; }
.contactBubble { height: 38px; border-radius: 8px; background: rgb(220,230,242); color: rgb(31,73,125); width: 162px; display: block; margin: 0 auto; text-align: center; padding: 5px; margin-bottom: 1em; position: relative; /*behavior: url(pie.htc);*/}
    .contactBubble p { margin-left: 0; margin-top: 10px; }
.signUpBubble { border-radius: 8px; background: rgb(220,230,242); color: rgb(31,73,125); width: 162px; display: block; margin: 0 auto; text-align: center; padding: 5px; margin-bottom: 1em; position: relative; /*behavior: url(pie.htc);*/}

.smallContactBubble { float:left; height: 38px; display:block; border-radius: 8px; background: rgb(220,230,242); color: rgb(31,73,125); text-align:center; width: 285px; padding: 5px; margin-left: 72px; position: relative; /*behavior: url(pie.htc);*/ }
	.smallContactBubble p { margin-top: 8px; }
.smallSignUpBubble { float:right; display:block; border-radius: 8px; background: rgb(220,230,242); color: rgb(31,73,125); text-align:center; width: 285px; padding: 5px; margin-right: 72px; position: relative; /*behavior: url(pie.htc);*/ }

.whatsNewBubble { border-radius: 8px; background: rgb(220,230,242); color: rgb(31,73,125); width: 162px; display: block; margin: 0 auto; text-align: center; padding: 5px; margin-bottom: -1.5em; position: relative; }

#lastUpdated { clear: both; width: 944px; text-align: center; }
.tblPortfolio { width: 95%; border-collapse: collapse; border: 1px solid black; margin-left: 1em; margin-bottom: 1em;}
    .tblPortfolio td, .tblPortfolio th { vertical-align: top; padding: 4px; border: 1px solid black; }
    .tblPortfolio .left { text-align:left; width: 190px; }
    .tblPortfolio .right { width: 150px; }
    
