/* styles.css  */
/* for dccps */
    
/* General Definitions */

p   {
    font-family : Arial, Helvetica, sans-serif;
    }    

ul  {
    font-family : Arial, Helvetica, sans-serif;
    }  
      
ol  {
    font-family : Arial, Helvetica, sans-serif;
    }    

li  {
    font-family : Arial, Helvetica, sans-serif;
    }    

td  {
    font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
    }    
	
th  {
    font-family : Arial, Helvetica, sans-serif;
    }    	

H2  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : large;
}

H3  {
	  font-family : Arial, Helvetica, sans-serif;
	  font-weight : bold;
    }

A   {
    TEXT-DECORATION: none;
    color: #3333cc;
    }
    
A:hover {
    text-decoration: underline;
    color: #3333cc;
    }
	
A:active { 
	  text-decoration: underline;
	  color: #3333cc;
    }

/* Specific Classes */    
.hed {
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
	font-size : 16px;
    text-decoration: none;
    }
      
    /* Section Links w/ yellow rollover */ 
.dccpshome {
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
	font-size : 16px;
    color: #3333cc;         /* #6633cc = matching peri */
    text-decoration: none;
    }
      
.dccpshome:hover {
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
    color: #cc9933;
    text-decoration: none;
    } 

.dccpshome:active {
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
    color: #3333cc;       /* #6633cc = matching peri */
    text-decoration: none;
    } 

      
.footerdccps {
	  color: #ffffff;
	  text-decoration: none;
	  font-family : Arial, Helvetica, sans-serif;
	  font-size : 13px;
	  font-weight : bold;
    }
      
.footerdccps:hover {
    color: #ffcc33;       /* cc9933 */
    text-decoration: none;
    } 
      
      
.caption {
	  font-family : Arial, Helvetica, sans-serif;
	  font-style : italic;
	  font-size : smaller;
    }      

    
.subnav_dccps {
    font-family : Arial, Helvetica, sans-serif;
    font-size : smaller;
    }



/* Old classes */
      
.fundingsub {
	  margin-left : 20px;
    }

     
LI.eocc {
	list-style-image: url("../../images/blue_diamond.gif");
    }


       
     
    #ceccrnav {
    color: #000099;
	text-decoration: none;
	}

    A.ceccrnav {
    color: #000099;
	text-decoration: none;
	}

    A.ceccrnav:hover { 
	color: #cc6699;
   	}

   	A.ceccrnav:visited {
	color: #000099;
	text-decoration: none;
	}

	A.ceccrnav:visited:hover {
	color: #cc6699;
	}


    
    #hcirb {
    color: #333366;
	text-decoration: none;
	}

    A.hcirb {
    color: #333366;
	text-decoration: none;
	}

    A.hcirb:hover { 
	color: #666699;
	text-decoration: none;
   	}

   	A.hcirb:visited {
	color: #333366;
	text-decoration: none;
	}

	A.hcirb:visited:hover {
	color: #666699;
	text-decoration: none;
	}


    
    #funding {
    color: #003399;
	text-decoration: none;
	}

    A.funding {
    color: #003399;
	text-decoration: none;
	}

	A.funding:hover { 
	color: 336666;
	text-decoration: none;
   	}

   	A.funding:visited {
	color: #003399;
	text-decoration: none;
	}

	A.funding:visited:hover {
	color: #336666;
	text-decoration: none;
	}
    
    

  /* cancer_resources.html and sub-pages */
  /* 3366CC is blue, 336666 is green */
    
  #resour {
  color: #3366CC;
	text-decoration: none;
	}

  A.resour {
  color: #3366CC;
	text-decoration: none;
	}

  A.resour:hover { 
	color: #336666;
	text-decoration: none;
  }

  A.resour:visited {
	color: #3366CC;
	text-decoration: none;
	}

	A.resour:visited:hover {
	color: #336666;
	text-decoration: none;
	}
    
    
  /* EOCC Resources */
  /* 3366CC is blue, 336666 is green */
    
  #res {
  color: #003399;
	text-decoration: none;
	}

  A.res {
  color: #003399;
	text-decoration: none;
	}

  A.res:hover { 
	color: #FFCCCC;
	text-decoration: none;
  }

  A.res:visited {
	color: #003399;
	text-decoration: none;
	}

	A.res:visited:hover {
	color: #FFCCCC;
	text-decoration: none;
	}
    
   #ocs {
	color: #003399;
	text-decoration: none;
	}

	A.ocs { 
	color: #003399;
	text-decoration: none;
	}

	A.ocs:hover { 
	color: #993399;
  text-decoration: none;
	}

  A.ocs:visited {
	color: #003399;
	text-decoration: none;
	}

	A.ocs:visited:hover {
	color: #993399;
	text-decoration: none;
	}
  